<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${alluser.empty}">
            <td colspan="2"> No Users Registered </td>
        </tr>
        <tr th:each="us : ${alluser}">
            <td><span th:text="${us.name}"> Name </span></td>
            <td><span th:text="${us.email}"> E-mail </span></td>
            <td> <a th:href="@{/user/adminservice/deleteuser/done(userId=${us.userId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>