.container{
  margin-left: 450px;
  margin-top: 150px;
  margin-right: 100px;

}
.containerRegister{
  margin-left: 450px;
  margin-top: 150px;
  margin-right: 100px;
}
.row{
  color: #FCF69C;
}
.row1{
  margin-left: 450px;
  margin-top: 150px;
  margin-right: 100px;
}
.wrapperRegister{
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 100px;
}
